<div class="container">
    <div class="bio mb-4">
        <div class="row">
            <div class="col-12 mb-3">
                <h1 class="mb-4">
                    hey there! I'm Jeff 👋
                </h1>
                <p class="mb-3">
                I'm a Front-End Engineer passionate about crafting intuitive digital experiences using modern JavaScript tools and frameworks. I was a key contributor for the front-end development at a startup, driving operational efficiency and revenue growth.
                </p>
                <p class="mb-3">
                From dashboards to mobile web applications, I specialize in utilizing technologies like JavaScript, TypeScript, React, Next.js, Angular, and more to bring ideas to life.
                </p>
                <p class="mb-3">
                Beyond coding, you'll find me cheering on my favorite sports teams, playing golf, or cherishing quality time with friends and family over good food and drinks.
                </p>
                <p class="mb-3">
                As a lifelong learner, I'm always exploring new technologies and staying informed about the latest trends in web development. 
                <!-- Check out some of my  -->
                <!-- <a routerLink="/portfolio"
                    routerLinkActive="active"
                    class="inline font-weight-bold">
                    work
                </a>, and feel free to dive into the blogs that keep me inspired on this ever-changing journey. 
                 -->
                Let's connect and create something extraordinary together!
                </p>
            </div>
            <hr>
            <div class="col-12">
                <h4>Contact Info:</h4>
                <p><b>Email: </b><a href="mailto:jefflim.dev@gmail.com">jefflim.dev@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>
