.portfolio-card {
    max-width: 250px;
    height: 428px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    img {
        max-height: 200px;
    }
}
.portfolio-card:hover {
    background-color: rgb(239 242 243 / 40%);
    cursor: pointer;
}

.portfolio-header-image {
    background-size: cover;
    background-color: #eff2f39e;
    img {
        object-fit: cover;
        width: 100%;
        position: relative;
        top: 6px;
    }
}