<div class="container py-5">
    <h1 class="title-name">Jefferson Lim</h1>
    <hr/>
    <div class="portfolio-card-section my-4 clearfix">
        <mat-card *ngFor="let item of portfolioSource" 
        (click)="openDialog(item.projectId)" class="portfolio-card mat-elevation-z2">
            <mat-card-header>
                <div mat-card-avatar class="portfolio-header-image">
                    <img *ngIf="item?.imgLogo" [src]="item?.imgLogo" [alt]="item?.altImgLogo">
                    <img *ngIf="!item?.imgLogo">
                </div>
                <mat-card-title>{{item?.name}}</mat-card-title>
                <mat-card-subtitle>{{item?.title}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="item?.img" [alt]="item?.altImg">
            <mat-card-content>
                <p>
                    {{item?.desc}}
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>

