<!-- <div class="home">
    <p class="salute">Hi! My name is</p>
    <p class="name">Jefferson <span class="last-name">Lim</span></p>
    <p class="position">Front-End Engineer</p>
</div> -->

<div class="parent container d-flex justify-content-center align-items-center h-100">
    <div class="child"> <!-- Your code goes inside this div/form --> 
        <div class="home">
            <p class="salute">Hi! My name is</p>
            <p class="name">Jefferson <span class="last-name">Lim</span></p>
            <p class="position">Front-End Engineer</p>
        </div>
    </div>
</div>
