<mat-card class="card-wide mat-elevation-z1 mb-2">
    <mat-card-header>
        <mat-card-title>{{data?.company}}</mat-card-title>
        <mat-card-subtitle>
            <span *ngIf="data?.company && data?.position" class="pe-1">{{data?.position}}</span>
            <span *ngIf="data?.company && data?.position" class="pe-1"> | </span>
            <span>{{data?.dateRange}}</span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li *ngFor="let bulletPoint of data?.bulletPoints">
                {{bulletPoint}}
            </li>
        </ul>
    </mat-card-content>
</mat-card>
